code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-size: cover;
  background-repeat: no-repeat;
}

/************************** Themes **************************/
.lightTheme{
  background-image: url(../src/components/images/fondpixel.png);
}

.darkTheme{
  background-image: url(../src/components/images/fondsombre3.png);
}

/************************** body, entre le header et le footer  **************************/

.bodyContent{
  height:84vh;
}


